.head-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.603);
    margin: 15px 15px;
}
.head-title{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 100px;
}

.head-link:hover,.head-title:hover{
    color: white;
}

.header{
    margin-bottom: 80px;
}